{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="store-index-page">

<h1>{{ page.title }}</h1>

<div class="store-grid">

{% load wagtailimages_tags %}

{% for product in products %}

    <div class="product-card">

    {% if product.product_image %}
        {% image product.product_image fill-400x300 %}
    {% endif %}

    
        <h2>{{ product.title }}</h2>
        <p>${{ product.price }}</p>

        <a href="{{ product.url }}" class="button">
            View Product
        </a>
    </div>

{% endfor %}

</div>
</div>

{% endblock %}