{% load static wagtailcore_tags wagtailuserbar %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>


<body>
<main>
    {% wagtailuserbar %}

    {% include "includes/navbar.html" %}

    {% load static wagtailsettings_tags %}
    {% get_settings %}

    {% if settings.app.SnipcartSettings.api_key %}
        <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>

        <div hidden id="snipcart"
            data-api-key="{{ settings.app.SnipcartSettings.api_key }}">
        </div>

        <link rel="stylesheet"
            href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />
    {% endif %}

    


        {% block content %}{% endblock %}
    </main>
    
    {% include "includes/footer.html" %}

</body>
</html>