{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="about">
<section class="hero">
    <h1>{{ page.hero_title}}</h1>

    {%image page.hero_image fill-1200x400%}
</section>

<section>
    <h1>What is Youth Vineyard?</h1>
    {{ page.organization_story|richtext }}
</section>

<section>
    <h1>About the Founder</h1>
    {{ page.founder_bio|richtext }}
</section>

<section>
    <h1>Our Mission</h1>
    {{ page.mission_statement|richtext}}
</section>


<section>
    <h1>Mental Health Services</h1>
    {{ page.mentalhealth_services|richtext}}
</section>

<section>
    <h1>How You Can Help</h1>
    {{ page.donate_text|richtext}}

    <div class="donate-buttons">
        {% if page.donate_cashapp %}
                <a href="{{ page.donate_cashapp }}" class="page-button">CashApp</a>
        {% endif %}
        {% if page.donate_venmo %}
                <a href="{{ page.donate_venmo }}" class="page-button">Venmo</a>
        {% endif %}
    </div>

</section>



{% endblock %}