{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


<div class="rockette-about">

  <!-- HERO -->
  <section class="hero">
    <h1>{{ page.hero_title }}</h1>
  </section>

  <!-- INTRO + TRAINING -->
  <section>
    <h1>What We Do</h1>
    {{ page.intro_text|richtext }}

    {% comment %} <h3>Participants recieve hands-on training in:</h3> {% endcomment %}
    {{ page.training_items|richtext }}
  </section>

  <!-- PROGRAMS -->
  <section>
    <h1>Our Programs</h1>

    {% if page.programs_intro %}
      <p>{{ page.programs_intro }}</p>
    {% endif %}

    <h4>Mentorship & Leadership</h4>
    {{ page.mentorship_text|richtext }}

    <h4>Creative Arts Training</h4>
    {{ page.creative_arts_text|richtext }}

    <h4>Athletics Development</h4>
    {{ page.athletics_text|richtext }}

    <!-- PWAM teaser block -->
    <h4>Performers With A Message</h4>
    <p>{{ page.pwam_text|richtext }}</p>

    <a href="#pwam" class="page-button">
        Learn More
    </a>

  </section>

  

  <!-- BELIEF -->
  <section>
    <h1>Our Belief</h1>
    {{ page.belief_items|richtext }}
  </section>

   <!-- Perfomers with a Message  -->

 <section >
  <h1>Feature Program: Performers With A Message</h1>

  <h4>{{ page.pwam_quote|richtext }}</h4>

  <h3>What is Performers with a Message?</h3>
  {{ page.pwam_overview|richtext }}

  <h3>What We Teach</h3>
  {{ page.pwam_teach|richtext}}

  <h3>Impact</h3>
  {{ page.pwam_impact|richtext }}

  {% if page.pwam_image %}
    {% image page.pwam_image fill-800x500 %}
  {% endif %}
</section>

  <!-- CTA -->
  <section>
    <h1>Join Us</h1>
    <p>{{ page.cta_text }}</p>

    <a href="/contact/" class="page-button">
      {{ page.cta_button_text }}
    </a>
  </section>

</div>


{% endblock %}